node_modules/
#find . -type f -name *.env | cut -c 3- >> .gitignore
#find . -type f -name z* | cut -c 3- >> .gitignore
#find . -type f -name /artifacts/ | cut -c 3- >> .gitignore

    # exclude everything except directory foo/bar
    #/*
    #!/artifacts/
    #/z*
    #/*.env
# User-specific files - Ignores all files starting with the letter z
z*
#Ignores a file called .env.
.env
#Ignores a top-level directory named artifacts
/artifacts/
